<!DOCTYPE html>
<html ng-app="main">
<head>

    <title>Git User Searcher</title>

    <meta http-equiv=”Pragma” content=”no-cache,no-store,must-revalidate”>
    <meta http-equiv=”Expires” content=”-1″>
    <meta http-equiv=”CACHE-CONTROL” content=”NO-CACHE”>

    <!-- styles -->
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css'
          type='text/css' media='all'/>
    <link rel="stylesheet" type="text/css" href="src/modules/main/main.css">

    <!-- libraries -->
    <script src="https://code.angularjs.org/1.4.8/angular.min.js"></script>
    <script src="src/libs/angular-ui-router.js"></script>
    <script type='text/javascript'
            src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js'></script>

    <!-- javascripts -->
    <script src="src/modules/main/main.js"></script>
    <script src="src/modules/httpCaller/httpCaller.js"></script>
    <script src="src/modules/factories/objectFactory.js"></script>


</head>


<body>
<div class="container" ng-controller="mainController">
    <div class="head">
        <h1>Welcome To Git User Searcher!</h1>

    </div>

    <div class="bodyContainer">

        <!--User input searching area-->
        <div class="search">
            <input ng-model="userInput" ng-enter="search(userInput)"
                ng-hide="searchCriteria===constants.searchCriteriaNumStars && queryWithRange==true">
            <span ng-show="searchCriteria===constants.searchCriteriaNumStars && queryWithRange==true">
                <input style="width: 100px" type="number" ng-model="fromNumStars">
                to
                <input style="width: 100px" type="number" ng-model="toNumStars">
            </span>
            <button ng-click="search(userInput)">Search</button>
            <button ng-click="clear()">Clear</button>
        </div>

        <!--simple configuration area-->
        Searching Criteria:
        <select ng-model="searchCriteria" ng-options="criteria for criteria in searchCriterias"></select>
        | Reposotiry Per Page: <input type="number" ng-model="orderPerPage"/>
        <span ng-show=" searchCriteria===constants.searchCriteriaNumStars">
            | Use Range <input type="checkbox" ng-model="queryWithRange"
                               ng-true-value="true" ng-false-value="false">
        </span>


        <!--advanced configuration area-->
        <div class="advancedConfig">
            <div ng-show="hideAdvancedConfiguration==true">
                <a ng-click="hideAdvancedConfiguration=false">
                    Show Advanced Searching Configurations
                </a>
            </div>
            <div ng-show="hideAdvancedConfiguration==false">
                <a ng-click="hideAdvancedConfiguration=true">
                    Hide Advanced Searching Configurations
                </a>

                <div ng-show="searchCriteria===constants.searchCriteriaRepos
                    || searchCriteria===constants.searchCriteriaNumStars">
                    Select Languages of Choice Your Search Result: <br>
                    <span ng-repeat="language in constants.languageList">
                        <input type="checkbox" ng-click="modifyLanguageFilter(language, languageValue)"
                               ng-model="languageValue"  ng-true-value="true" ng-false-value="false" > {{language}}
                    </span>
                </div>

            </div>
        </div>
        <hr>

        <!--search result area, only show when there is result-->
        <div ng-show="gitRepos.length>0">

            <button ng-click="generatePagePortals(constants.pagePortalLeftShift)"
                    ng-disabled="pagePortals[0]===1"> <
            </button>
            <span ng-repeat="i in pagePortals">
                <button ng-click="goToPage(i)" ng-style="{ color: addStyleToSelectedPage(i) }">{{ i }}</button>
            </span>
            <button ng-click="generatePagePortals(constants.pagePortalRightShift)"
                    ng-disabled="pagePortals[pagePortals.length-1]>=numPages"> >
            </button>
            <table class="gitRepo">
                <thead>
                <!--<th ng-click="changeSortFilter(constants.colRespositoryName)">-->
                <th>
                    Repository Name
                    <!--<span ng-show="sortType=='{{constants.colRespositoryName}}' && sortReverse">&#8593;</span>-->
                    <!--<span ng-show="sortType=='{{constants.colRespositoryName}}' && !sortReverse">&#8595;</span>-->
                </th>
                <!--<th ng-click="changeSortFilter(constants.colRepositoryUrl)">-->
                <th>
                    Repository URL
                    <!--<span ng-show="sortType=='{{constants.colRepositoryUrl}}' && sortReverse">&#8593;</span>-->
                    <!--<span ng-show="sortType=='{{constants.colRepositoryUrl}}' && !sortReverse">&#8595;</span>-->
                </th>
                <!--<th ng-click="changeSortFilter(constants.colOwnerName)">-->
                <th>
                    Owner name
                    <!--<span ng-show="sortType=='{{constants.colOwnerName}}' && sortReverse">&#8593;</span>-->
                    <!--<span ng-show="sortType=='{{constants.colOwnerName}}' && !sortReverse">&#8595;</span>-->
                </th>
                <!--<th ng-click="changeSortFilter(onstants.colOwnerAvatar)">-->
                <th>
                    Owner Avatar
                    <!--<span ng-show="sortType=='{{constants.colOwnerAvatar}}' && sortReverse">&#8593;</span>-->
                    <!--<span ng-show="sortType=='{{constants.colOwnerAvatar}}' && !sortReverse">&#8595;</span>-->
                </th>
                </thead>
                <tbody>
                <tr ng-repeat="gitRepo in gitRepos">
                    <td>{{gitRepo.name}}</td>
                    <td><a ng-click="openLink(gitRepo.html_url)">{{gitRepo.html_url}}</a></td>
                    <td>{{gitRepo.owner.login}}</td>
                    <td><img src="{{gitRepo.owner.avatar_url}}" height="25" width="25"/></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>


</html>
